<style>
  table {
    width: 100%;
  }
  th {
    background-color: lightseagreen;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  th{
    color: white;
  }
  tr:hover {
    background-color: rgba(32, 178, 170, 0.20);
  }
</style>

<div class="container mt-3">
  <table>
    <thead>
    <tr>
      <th>Patient name</th>
      <th>Identification number</th>
      <th>Medical procedure</th>
      <th>Cost</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (item of reimbursements; track item.id) {

        <tr>
          <td>{{ item.patientName }}</td>
          <td>{{ item.identificationNumber }}</td>
          <td>{{ item.medicalProcedure }}</td>
          <td>{{ item.cost }}</td>
          <td>{{ item.status }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteReimbursement(item.id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
